 /*************************************

Template Name: Alex - Personal Portfolio Template
Author: mhbthemes
Version: 1.0
Design and Developed by: mhbthemes

NOTE: This is main stylesheet of the template.

****************************************/
 /*================================================
            Table of contents  
==================================================
 
0. BASE CSS
1. PRELOADER
2. SECTION TITLE AND SECTION PADDING
3. HEADER AREA
4. WELCOME AREA
5. ABOUT AREA
6. SERVICES AREA
7. WORK AREA
8. STAT AREA
9. TESTIMONIAL AREA 
10. CTA AREA 
11. CONTACT INFO AREA
12. BLOG AND SINGLE BLOG PAGE
13. FOOTER AREA

/*====================================================
            End table content 
===================================================*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

 /*================================================
             0 BASE CSS
==================================================*/
body {
     font-family: 'Poppins', sans-serif;
     color: #444;
     font-weight: 400;
     line-height: 28px;
     font-size: 15px;
 }
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 15px;
    font-weight: 700;
    color: #222;
    line-height: 1.2;
}
 a:focus {
     outline: 0 solid
 }
 img {
     max-width: 100%;
     height: auto;
 }
a{
    transition: 0.4s
}
 html,
 body {
     height: 100%
 }
 a:hover {
     text-decoration: none
 }
 /* Remove Chrome Input Field's Unwanted Yellow Background Color */
 
 input:-webkit-autofill,
 input:-webkit-autofill:hover,
 input:-webkit-autofill:focus {
     -webkit-box-shadow: 0 0 0px 1000px white inset !important;
 }


 /*========================
    DEMO PANEL CSS
=========================*/

 .demo_panel_box {
	position: fixed;
	width: 180px;
	height: 60px;
	background: #e6e6e6;
	left: -180px;
	top: 180px;
	text-align: center;
	z-index: 99;
}
 .color_panel_box {
     margin-top: 17px;
     padding: 0 12px;
 }
 .spiner_button {
     height: 50px;
     width: 50px;
     background: #fff;
     position: absolute;
     display: block;
     right: -50px;
     top: 0px;
     z-index: 99;
     text-align: center;
     font-size: 30px;
     color: #000;
     padding-top: 10px;
     cursor: pointer;
     border-radius: 0 10px 10px 0;
     box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
 }
 .color_panel_box span {
     width: 25px;
     height: 25px;
     margin-left: 15px;
     margin-left: 10px;
     display: block;
     float: left;
     cursor: pointer;
 }
 .color_panel_box span.color_1 {
     background-color: #18ba60;
 }
 .color_panel_box span.color_2 {
     background-color: #2196F4;
 }
 .color_panel_box span.color_3 {
     background-color: #ffc814;
 }
 .color_panel_box span.color_4 {
     background-color: #F27849;
 }

 /*================================================
             1 PRELOADER
==================================================*/
 
 #loader-wrapper {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 9999999;
     overflow: hidden;
}
 .no-js #loader-wrapper {
     display: none;
}
 #loader {
     display: block;
     position: relative;
     left: 50%;
     top: 50%;
     width: 150px;
     height: 150px;
     margin: -75px 0 0 -75px;
     border-radius: 50%;
     border: 3px solid transparent;
     border-top-color: #222;
     -webkit-animation: spin 1.7s linear infinite;
     animation: spin 1.7s linear infinite;
     z-index: 11;
}
 #loader:before {
     content: "";
     position: absolute;
     top: 5px;
     left: 5px;
     right: 5px;
     bottom: 5px;
     border-radius: 50%;
     border: 3px solid transparent;
     border-top-color: #222;
     -webkit-animation: spin-reverse .6s linear infinite;
     animation: spin-reverse .6s linear infinite;
}
 #loader:after {
     content: "";
     position: absolute;
     top: 15px;
     left: 15px;
     right: 15px;
     bottom: 15px;
     border-radius: 50%;
     border: 3px solid transparent;
     border-top-color: #222;
     -webkit-animation: spin 1s linear infinite;
     animation: spin 1s linear infinite;
}
 @-webkit-keyframes spin {
     0% {
         -webkit-transform: rotate(0deg);
    }
     100% {
         -webkit-transform: rotate(360deg);
    }
}
 @keyframes spin {
     0% {
         -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
    }
     100% {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
    }
}
 @-webkit-keyframes spin-reverse {
     0% {
         -webkit-transform: rotate(0deg);
    }
     100% {
         -webkit-transform: rotate(-360deg);
    }
}
 @keyframes spin-reverse {
     0% {
         -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
    }
     100% {
         -webkit-transform: rotate(-360deg);
         transform: rotate(-360deg);
    }
}
 #loader-wrapper .loader-section {
     background-color: #fff;
     position: fixed;
     top: 0;
     width: 51%;
     height: 100%;
     z-index: 10;
}
 #loader-wrapper .loader-section.section-left {
     left: 0;
}
 #loader-wrapper .loader-section.section-right {
     right: 0;
}
/* Loaded styles */
 .loaded #loader-wrapper .loader-section.section-left {
     -webkit-transform: translateX(-100%);
     transform: translateX(-100%);
     -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
     transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
 .loaded #loader-wrapper .loader-section.section-right {
     -webkit-transform: translateX(100%);
     transform: translateX(100%);
     -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
     transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
 .loaded #loader {
     opacity: 0;
     -webkit-transition: all 0.3s ease-out;
     transition: all 0.3s ease-out;
}
 .loaded #loader-wrapper {
     visibility: hidden;
     -webkit-transform: translateY(-100%);
     transform: translateY(-100%);
     -webkit-transition: all 0.3s 1s ease-out;
     transition: all 0.3s 1s ease-out;
}

 /*================================================
     2 SECTION TITLE AND SECTION PADDING
==================================================*/
 
 .section-title {
     margin-bottom: 65px;
     text-align: center;
 }
 .section-title h2 {
     font-size: 45px;
     margin-bottom: 5px;
     letter-spacing: 2px;
     font-weight: 900;
 }
 .section-title p {
     font-size: 14px;
     margin: 0;
 }
 .section-padding {
     padding: 100px 0;
 }
 /*================================================
        3 HEADER AREA
==================================================*/
 
 .custom-navbar {
     border-width: 0;
     background: transparent;
     -webkit-transition: all 0.4s ease-in-out;
     transition: all 0.4s ease-in-out;
 }
 .logo a {
    font-family: 'Montserrat', sans-serif;
	color: #fff;
	display: inline-block;
	font-size: 22px;
	font-weight: 800;
	letter-spacing: 3px;
	margin-top: 21px;
	-webkit-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
	line-height: 40px;
}
 .logo a:focus {
     text-decoration: none;
 }
 .main-menu {
     text-transform: uppercase;
 }
 .main-menu ul.navbar-nav {
     float: right;
 }
 .main-menu ul.nav.navbar-nav li.active {
     position: relative;
 }
 .main-menu ul.navbar-nav li a {
     color: #fff;
     font-weight: 500;
     font-size: 12px;
     padding: 30px 13px;
     -webkit-transition: all 0.4s ease-in-out;
     transition: all 0.4s ease-in-out;
     position: relative;
 }
 .main-menu ul.navbar-nav li a:focus,  .main-menu ul.navbar-nav li a:hover {
     background: none;
 }
 .custom-navbar.top-nav-collapse .logo a {
     margin-top: 15px;
 }
 .custom-navbar.top-nav-collapse .main-menu ul.navbar-nav li a {
     color: #444;
     padding: 25px 13px;
 }
.logo a span {
     display: inline-block;
     font-size: 28px;
     padding: 9px 5px 8px 7px;
 }
 .custom-navbar.top-nav-collapse {
     background: #fff;
     box-shadow: 0 0 10px #222;
     border-width: 0;
 }
 .custom-navbar.top-nav-collapse .main-menu ul.navbar-nav li.active a:after {
     opacity: 1;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
 }
 /*================================================
        4 WELCOME AREA
==================================================*/
 
 .welcome-area {
     background-size: cover;
     background-position: center center;
     z-index: 1;
     position: relative;
     height: 100%;
 }
 .welcome-area:after,
 .quotes-area:after {
     position: absolute;
     content: "";
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #000;
     opacity: .6;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
     z-index: -1;
 }
 .welcome-table {
     display: table;
     width: 100%;
     height: 100%;
     text-align: center;
 }
 .welcome-cell {
     display: table-cell;
     vertical-align: middle;
 }
 .welcome-text h1 {
     text-transform: capitalize;
     font-size: 60px;
     font-weight: 900;
     margin-bottom: 10px;
 }
 .typed-cursor,
 .element {
     display: inline;
     font-weight: 300;
     font-size: 28px;
     color: #fff;
 }
 .welcome-area .home-arrow {
     text-align: center;
     position: absolute;
     bottom: -210px;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
 }
 .welcome-area .home-arrow a {
     font-size: 34px;
 }
 .welcome-area .home-arrow .fa {
     display: inline-block;
     -webkit-transform-style: preserve-3d;
     transform-style: preserve-3d;
     -webkit-animation-name: home-arrow;
     animation-name: home-arrow;
     animation-duration: 2s;
     -webkit-animation-duration: 2s;
     -webkit-animation-iteration-count: infinite;
     animation-iteration-count: infinite;
     -webkit-animation-timing-function: linear;
     animation-timing-function: linear;
 }
 @-webkit-keyframes home-arrow {
     from {
         -webkit-transform: translate3d( 0, 0px, 0);
         transform: translate3d( 0, 0px, 0);
         filter: alpha(opacity=0);
         opacity: 0;
         -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
     }
     10% {
         -webkit-transform: translate3d( 0, 5px, 0);
         transform: translate3d( 0, 5px, 0);
         filter: alpha(opacity=100);
         opacity: 1;
         -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
     }
     to {
         -webkit-transform: translate3d( 0, 30px, 0);
         transform: translate3d( 0, 30px, 0);
         filter: alpha(opacity=0);
         opacity: 0;
         -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
     }
 }

 /*================================================
        5 ABOUT AREA
==================================================*/
.about-area .nav-tabs{
    border: none;
    margin-bottom: 50px;
}
.about-area .nav-tabs li{
    width: 50%;
    text-align: center;
}
 .about-area .tab .nav-tabs li a {
     font-family: 'Montserrat', sans-serif;
     width: 60%;
     margin: 0 auto;
    background:transparent;
    border-radius:0;
    border-top: none;
    border-bottom: 2px solid #ddd;
    border-left: none;
    border-right: none;
    font-size:16px;
    color: #222;
    padding-bottom: 5px;
     font-weight: 700;
     text-transform: uppercase;
}
.tab .nav-tabs li a:hover{
    background:transparent;
}
.tab .nav-tabs li.active a:after{
    border: none;
}
.tab .tab-content{
    padding:15px;
    margin-top:0;
    border:none;
}
h4.about-heading {
     font-size: 16px;
     font-weight: 600;
    line-height: 26px;
     text-transform: uppercase;
 }
.tab-content p {
    
}
.social-links {
	padding: 0;
	margin: 30px 0 0;
	list-style: none;
}
.social-links li{
    display: inline-block;
    margin-right: 8px;
}
.social-links a {
	display: block;
	width: 40px;
    height: 40px;
    line-height: 40px;
	border: 1px solid #444;
	color: #444;
	border-radius: 50%;
	font-size: 16px;
    text-align: center;
}
.about-area .single-skill{
    margin-bottom: 32px;
}
.about-area .skill-info {
	overflow: hidden;
}
.about-area .skill-info h4 {
	text-transform: uppercase;
	font-size: 15px;
	margin-bottom: 10px;
    color: #444;
}
.about-area .progress {
	height: 8px;
	border-radius: 0px;
	box-shadow: none;
	overflow: visible;
    background-color: #ddd;
}
.about-area .progress .progress-bar {
	position: relative;
}
.about-area .progress .progress-bar span {
	font-size: 16px;
	right: 0;
	color: #fff;
	position: absolute;
	top: -17px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 100%;
	font-size: 13px;
	font-weight: 600;
}
 /*================================================
        6 SERVICES AREA
==================================================*/
 
.services-area{
    background-color: #f7f7f7;
}
 .single-service {
     position: relative;
     overflow: hidden;
     font-size: 15px;
     font-weight: 300;
     padding: 40px 30px;
     background-color: #fff;
     margin-bottom: 30px;
     box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
     border-radius: 5px;
     -webkit-transition: 0.4s;
     transition: 0.4s;
 }
.single-service:hover{
    
}
 .service-img {
     height: 65px;
     width: 60px;
     background-size: contain;
     margin: 0 auto;
     background-repeat: no-repeat;
 }
 .single-service h3 {
     font-size: 18px;
     font-weight: 600;
     margin: 15px 0;
     text-transform: capitalize;
 }
 .single-service p {
     margin: 0;
 }
.single-service .service-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 110%;
	border-radius: 5px;
	transition: all .4s;
}
.single-service .service-overlay ul {
	width: 100%;
	height: 100%;
	padding: 30px 40px;
    margin: 0;
    list-style: none;
	border-radius: 5px;
}
.single-service .service-overlay ul li{
	font-size: 16px;
	line-height: 36px;
	color: #fff;
	font-weight: 400;
	padding: 0;
	margin: 0;
	text-transform: none;
}
.single-service .service-overlay ul li i.fa {
	margin-right: 5px;
}
 .single-service:hover .service-overlay {
	top: 0;
}
 .single-service:hover {}

 /*================================================
        7 WORK AREA
==================================================*/
.work-area{
    
}
 .work-inner .mix {
     display: none;
 }
 ul.work-list {
     list-style: outside none none;
     margin-bottom: 20px;
     padding: 0;
 }
 ul.work-list li {
     cursor: pointer;
     display: inline-block;
     padding: 5px;
     font-size: 14px;
     text-transform: uppercase;
     -webkit-transition: 0.4s;
     transition: 0.4s;
 }
ul.work-list li.active{
    
}
 .single-work {
     position: relative;
     overflow: hidden;
     margin-bottom: 30px;
 }
 .single-work img {
     -webkit-transform: scale(1.15);
     transform: scale(1.15);
     -webkit-transition: all 0.4s ease 0s;
     transition: all 0.4s ease 0s;
 }
 .single-work:hover img {
     -webkit-transform: scale(1);
     transform: scale(1);
 }
 .item-hover {
     padding: 30px;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     -webkit-transition: 0.4s;
     transition: 0.4s;
     z-index: 1;
     opacity: 0;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
     -webkit-transition: 0.6s;
     transition: 0.6s;
 }
 .item-hover:before {
     position: absolute;
     content: "";
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background: #000;
     opacity: 0;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
     visibility: hidden;
     z-index: -1;
     -webkit-transition: 0.4s;
     transition: 0.4s;
 }
 .single-work:hover .item-hover:before {
     opacity: 0.7;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
     visibility: visible;
 }
 .single-work:hover .item-hover {
     opacity: 1;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
 }
 .work-table {
     display: table;
     height: 100%;
     text-align: center;
     width: 100%;
 }
 .work-tablecell {
     display: table-cell;
     vertical-align: middle;
 }
 .single-work:hover .hover-content {} .hover-content h4,
 .hover-content p {
     color: #fff;
     margin: 0;
 }
 .hover-content h4 {
     margin-bottom: 10px;
     font-weight: 600;
     font-size: 21px;
     text-transform: capitalize;
 }
 .hover-content p {
     font-weight: 400;
     font-size: 14px;
 }
 .hover-content a {
     display: inline-block;
     font-size: 18px;
     height: 45px;
     line-height: 45px;
     color: #fff;
    margin-top: 10px;
     text-align: center;
     -webkit-transition: all 0.6s ease 0s;
     transition: all 0.6s ease 0s;
     width: 45px;
     transition: 0.6s;
     border-radius: 50%;
 }
.modal-content {
	padding: 10px 30px;
	border-radius: 0px;
}
.modal-body {
	position: relative;
	padding: 15px;
}
.modal-body h3{
    margin-top: 20px;
    margin-bottom: 10px;
}
.modal-body p{
    margin-bottom: 0;
}
.modal-body ul {
	margin-top: 25px;
}
.project-list li{
    padding: 5px 0;
    font-size: 14px;
}
.project-list label {
	color: #222;
	margin-bottom: 0;
	margin-right: 0;
	width: 120px;
    font-weight: 600;
}
.project-list li a:hover{
    color: #444;
}

 /*===============================================
	    8. STAT AREA
===============================================*/
 
 .stat-area {
     background-color: #f7f7f7;
 }
 .single-stat {
     position: relative;
	margin-top: 30px;
 }
.single-stat .inner {
	position: relative;
	padding: 50px 15px 35px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	border: 2px solid #444;
	border-radius: 0px 0px 5px 5px;
	border-top: none;
}
.single-stat .inner::after {
	content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30%;
	border-bottom: 2px solid #444;
}
.single-stat .inner::before {
	content: '';
	position: absolute;
	right: 0px;
	top: 0px;
	width: 30%;
	border-bottom: 2px solid #444;
}
.stat-icon-box {
	position: absolute;
	left: 50%;
	top: -30px;
	width: 40%;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 45px;
	color: #444;
	margin-left: -20%;
}
.stat-icon-box i.fa{
    margin: 0 auto;
}
 .single-stat h2 {
     font-size: 56px;
     margin-bottom: 10px;
     margin-top: 0px;
     font-weight: 900;
 }
 .single-stat h3 {
     font-size: 13px;
     font-weight: 600;
     text-transform: uppercase;
     margin: 0;
 }

 /*================================================
        9 TESTIMONIAL AREA 
==================================================*/
 
 .testimonial-area {} .single-testimonial {
     position: relative;
     background-color: #fff;
     padding: 15px 20px;
     border: 1px solid #ddd;
 }
 .t-image {
     height: 70px;
     left: 20px;
     position: absolute;
     right: 0;
     width: 70px;
 }
 .t-name {
     padding: 13px 0;
     font-size: 14px;
 }
 .t-image img {
     border-radius: 50%;
     width: 100%;
 }
 .t-author h4 {
     margin: 0;
     font-size: 16px;
     text-transform: uppercase;
 }
 .t-content {
     margin-top: 25px;
 }
 .t-author {
     padding-left: 85px;
 }
 .testimonial-area .owl-dots {
     margin-top: 35px;
     text-align: center;
 }
 .testimonial-area .owl-dots div {
     display: inline-block;
     height: 12px;
     margin-right: 7px;
     width: 12px;
     border-radius: 50%;
     background-color: transparent;
     border: 1px solid #444;
 }

/*================================================
        10 CTA AREA 
==================================================*/
.cta-area{
    background-color: #f7f7f7;
}
.cta-area h2 {
  font-size: 42px;
  font-weight: 800;
  text-transform: capitalize;
    margin-bottom: 25px;
}
.cta-area a {
    display: inline-block;
  text-transform: capitalize;
  padding: 10px 22px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
 /*================================================
        11 CONTACT INFO AREA
==================================================*/
 .contact-form,
 .author-adress {
 }
 .contact-form .form-group {
     margin-bottom: 15px;
     position: relative;
}
 .contact-form .form-group i.fa {
     position: absolute;
     top: 15px;
     left: 0;
     font-size: 16px;
}
 .form-control {
    padding: 12px 25px;
     font-size: 16px;
     height: auto;
     box-shadow: none !important;
     border-top: 0;
     border-left: 0;
     border-right: 0;
     border-bottom: 2px solid #666;
     border-radius: 0;
    background-color: transparent;
 }
.form-control:focus {
     border-top: none;
     border-left: none;
     border-right: none;
}
 textarea.form-control {
     resize: vertical;
     height: 130px;
 }
.btn.btn-sent{
    height: 45px;
    width: 100%;
    font-size: 16px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    text-transform: capitalize;
    transition: 0.4s;
}
 .btn.disabled,
 .btn[disabled],
 fieldset[disabled] .btn {
     box-shadow: none;
     cursor: not-allowed;
     opacity: 1;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
 }
 .btn.btn-effect.disabled {
     cursor: not-allowed;
 }
.single-info {
     position: relative;
     padding: 25px 30px;
     border: 1px solid #ddd;
     margin-bottom: 15px;
}
 .info-icon {
     position: absolute;
     top: 25px;
     left: 30px;
     width: 50px;
     height: 50px;
     font-size: 18px;
     color: #fff;
     text-align: center;
     line-height: 50px;
     border-radius: 50%;
}
 .info-icon.fa{
     font-size: 20px;
}
.single-info h5{
    margin-bottom: 5px;
    text-transform: capitalize;
}
.single-info p{
    margin-bottom: 0;
}
.info-content {
	padding-left: 70px;
}

/*================================================
    12. BLOG AND SINGLE BLOG PAGE
==================================================*/

.breadcroumb-area{
    padding: 120px 0 90px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
    text-align: center;
    color: #fff;
}
.breadcroumb-area:before{
    background-color: #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.breadcroumb-area h1 {
    font-size: 46px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 0;
}
.breadcroumb {
    color: #fff;
    font-size: 16px;
}
.breadcroumb a {
    color: #fff;
}
.blog-content-area, .single-blog-area{
    background-color: #f7f7f7;
}
.widget{
    margin-bottom: 40px;
}
.widget {
  padding: 20px;
    background-color: #fff;
}
.widget.search{
  
}
.search-form {
    background-color: #f7f7f7;
    border: none;
    width: 100%;
}
.search-form input[type="search"] {
    padding: 14px;
    border: 0px solid;
    background: transparent;
    width: 80%;
}
.search-form button[type="submit"] {
	border: 0px solid;
	color: #fff;
	float: right;
	padding: 14px;
	width: calc(100% - 80%);
    transition: 0.4s;
}
.search-form button[type="submit"]:hover{
    background-color: #222;
    color: #fff;
}
.widget-title{
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 0;
    text-transform: capitalize;
    font-weight: 600;
}
.widget ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.widget ul li{
    line-height: 22px;
}
.widget.about-me p {
	margin-top: 10px;
	margin-bottom: 0;
}
.widget.category ul li, .widget.tags ul li{
    margin-bottom: 8px
}
.widget.category ul{
    padding-left: 15px;
}
.widget.category li{
    position: relative;
}
.widget.category li:before{
    position: absolute;
    left: -15px;
    top: 0;
    font-family: fontawesome;
    content: "\f0da";
    font-size: 18px;
}
.widget a{
    padding-bottom: 8px;
    display: block;
    transition: 0.3s;
}
.widget.category li a, .widget.recent-post li a{
    color: #444;
}
.widget.tags li {
    display: inline-block;
}
.widget.tags a {
    background-color: #222;
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: 500;
    margin-right: 4px;
    padding: 6px 13px;
    transition: 0.4s;
}
.widget.tags a:hover{
    color: #fff;
}
.widget.recent-post span {
  display: block;
  font-size: 13px;
    color: #999;
}
.post-featured-content {
  margin: 0;
  max-height: 400px;
  overflow: hidden;
}
.single-post, .single-post-details, .comment-list-area, .comment-form-wrap {
	background-color: #fff;
    padding: 30px;
    margin-bottom: 50px;
}
.single-post h2, .single-post-details h2 {
  margin: 20px 0 5px 0;
    font-size: 24px;
    font-weight: 600;
    
}
.post-meta span {
    font-size: 13px;
    text-transform: uppercase;
    margin-right: 15px;
}
.post-meta span i.fa{
    margin-right: 4px;
}
.read-more-btn {
  color: #fff;
  display: inline-block;
  padding: 7px 18px;
    text-transform: capitalize;
}
.entry-content {
  margin-top: 12px;
}
.pagination ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.pagination li {
    display: inline-block;
}
.pagination li a {
    background-color: #fff;
    color: #444;
  display: block;
  font-size: 18px;
  font-weight: 500;
  height: 35px;
  line-height: 34px;
  margin-right: 4px;
  text-align: center;
  width: 35px;
    transition: 0.3s;
}

.pagination{
    margin: 0;
}
.pagination ul li:hover a, .pagination ul li.active a{
    color: #fff;
}

.single-post-details blockquote {
  font-size: 14px;
  font-style: italic;
    background-color: #f7f7f7;
margin-top: 15px;
margin-bottom: 15px;
}

.comments-area ul.comment-list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.row.replay-area {
  margin-left: 120px;
  margin-top: 40px;
}
h3.comment-title {
	margin-bottom: 30px;
	font-weight: 600;
	font-size: 21px;
}
h3.comment-form-title{
    margin-bottom: 20px;
    font-weight: 600;
}
.comment-metadata h5 {
    margin-bottom: 0;
    font-weight: 600;
}
.comment-metadata p {
    color: #777;
    font-size: 12px;
}
.comment-reply-link {
    font-weight: 600;
}
.comment-item {
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
    padding-bottom: 25px;
}
.comment-item:last-child{
    border-bottom: 0px solid;
}

.comment-form-wrap .form-control {
    background-color: #f7f7f7;
    border: none;
    border-radius: 0;
    font-size: 15px;
    box-shadow: none;
    height: 45px;
}
.comment-form-wrap .form-control:focus{
    background-color: #f7f7f7;
    border: none;
}
.comment-form-wrap textarea.form-control {
    height: 150px;
    resize: none;
}
.btn-comment {
	padding: 8px 25px;
	border: none;
	color: #fff;
	margin-top: 10px;
    transition: 0.4s;
}


 /*================================================
        13. FOOTER SECTION
==================================================*/
 
 .footer {
     background-color: #222;
     padding: 20px 0;
 }
 .footer p {
     font-size: 16px;
     color: #fff;
     margin: 0px;
 }